#field-menu {
    background-color: rgb(69, 41, 36);
    width: 80%;
    max-height: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: visible;
}
#overlay-plant-img{
    position: absolute;
    width: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    scrollbar-width: none;
    overflow: hidden;
    z-index: 1000;
}
.plant-craft {
    width: 17%;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
}
#field-img-bar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%; 
    padding-top: 0.5%; 
    background-image: url('../assets/design/menu.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    position: relative;
    scrollbar-width: none;
    overflow: hidden;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}